body {
	font-size: 95%;
	line-height: 160%;
	margin: 1em 15%;
	padding: 0px;
}
a:link {
	color: #FF6666;
}
a:visited {
	color: #CC3333;
}
a:active {
	color: #FF9999;
}
a:hover {
	color: #9999FF;
}
h1 {
	font-size: 130%;
	line-height: 150%;
	margin: 2em 0px;
	padding: 0px;
}
h2 {
	font-size: 110%;
	line-height: 150%;
	margin: 2em 0px 0px;
	padding: 0px;
}
p {
	margin: 1em 0px;
	padding: 0px;
}
div.navi {
	font-size: 80%;
	line-height: 120%;
	margin: 100px 0px 0px;
	padding: 0px;
	text-align: right;
}
div.copy {
	font-size: 80%;
	line-height: 120%;
	margin: 0px;
	padding: 0px;
	text-align: right;
}
hr {
	border-width: 1px;
	border-color: #CCCCCC;
	border-style: solid;
}
