@charset "utf-8";
body {
	background-color: #111133;
	background-image: url(bg.gif);
}
div.row {
	background-image: url(bg.gif);
	background-color: #111111;
}
header {
	background-image: url(bg.gif);
	background-color: #331111;
}
a:link {
	color: #FF9966;
}
a:visited {
	color: #CC6633;
}
a:active {
	color: #3366CC;
}
a:hover {
	color: #6699FF;
}
header.alert-heading {
	background-image: none;
	background-color: #999999;
	color: #333333;
}
aside.alert {
	background-color: #333333;
	color: #CCCCCC;
	border: none;
}
div.appendix {
	margin-top: 5rem;
}
figure > blockquote.blockquote {
	background-color: #333333;
}
