@charset "utf-8";

body {
	background-color: #66CCFF;
}
header#header img {
	padding: 100px 0rem 100px 0rem;
}
ul#toc {
	background-color: rgba(255,255,255,0.4);
	border-radius: 10px;
}
div.outline {
	padding: 1rem;
	font-size: 1.2rem;
	background-color: rgba(255,255,255,0.8);
	border-radius: 10px;
}
div.bodytext {
	padding: 1rem;
	background-color: rgba(255,255,255,0.8);
	border-radius: 10px;
}
