@charset "utf-8";

body {
	background-color: #FFCC00;
	background-image: url(/img/mat/bg.png);
}
#header {
	background-image: url(/img/mat/skel.gif);
}
main {
	background-image: url(/img/mat/skel.gif);
	background-color: rgba(255,255,239,0.5);
}
h2 {
	background-image: url(/img/mat/bg_header.png);
	padding: 2rem 0.5rem;
	margin: 1rem -0.75rem;
}
#toc {
	background-image: url(/img/mat/skel.gif);
}
div.copy {
	font-size: 0.9rem;
	line-height: 1.1rem;
}
div.amathum {
	margin: 10px;
	float: right;
	clear:right;
}
