@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
body {
	background-image: url(bak.gif);
	font-size: 100%;
	line-height: 160%;
	color: #CCCCCC;
	background-color: #000000;
	text-align: center;
	margin: 0px 15%;
	padding: 0px;
	position: relative;
}
div.header, div.body, div.footer {
	background-image: url(skel.gif);
	text-align: left;
	margin: 0px;
	min-width: 550px;
}
div.header {
	padding: 30px 0px;
}
div.body {
	padding: 1em 20px;
}
div.footer {
	padding: 0px 20px;
}
p {
	margin: 0px;
	padding: 20px 0px;
}
a:link {
	color: #FF9966;
}
a:visited {
	color: #CC6633;
}
a:active {
	color: #3366CC;
}
a:hover {
	color: #6699FF;
}
h1 {
	font-family: '華康明朝体','ＭＳ Ｐ明朝','平成明朝',serif;
	font-size: 120%;
	color: white;
	margin: 0px;
	padding: 0px;
}
h2 {
	color: white;
	font-size: 100%;
}
div.navi {
	font-family: Arial,sans-serif;
	font-size: 90%;
	line-height: 120%;
	text-align: right;
	margin: 0px;
	padding: 50px 20px 0px;
}
div.copy {
	font-family: Arial,sans-serif;
	font-size: 90%;
	line-height: 120%;
	text-align: right;
	padding: 5px 20px 20px;
}
#navi {
	font-size: 80%;
	line-height: 120%;
	margin: 0px;
	padding: 0px;
	text-align: right;
}
.navigator {
	font-size: 80%;
	line-height: 120%;
	text-align: right;
	padding: 20px 20px 5px;
}
strong {
	font-weight: bold;
	font-size: 130%;
	color: #FFFFFF;
}
.end {
	text-align: right;
}
.column {
	font-family: 'ＭＳゴジック','Osaka-等幅',monospace;
	font-size: 100%;
	line-height: 130%;
	margin: 5px 1em;
	padding: 5px;
	border-width: 1px;
	border-color: #CCCCCC;
	border-style: solid;
}
.datestamp {
	text-align: right;
	font-size: 85%;
}

.th {
	font-weight: bold;
	font-size: 110%;
	color: black;
	background-color: #669933;
	padding: 2px;
}
.td {
	color: black;
	background-color: #FFFF99;
	padding: 2px;
}
.bigred {
	font-weight: bold;
	font-size: 130%;
	color: #FF0000;
}
.bigblue {
	font-weight: bold;
	font-size: 130%;
	color: blue;
}
ol li {
	list-style-position: inside;
	marker-offset: 20px;
}


