@charset "utf-8";
body {
	color: #CCCCCC;
	background-color: #000033;
	background-image: url(bg.gif);
}
div#main {
	background-image: url(skel.gif);
}
a:link {
	color: #CCCCCC;
}
a:visited {
	color: #999999;
}
a:active {
	color: #666666;
}
a:hover {
	color: #FFFFFF;
}
div.toc {
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 2.8rem;
}
div.toc ul {
	list-style: none;
}
div.toc a {
	text-decoration: none;
	border-bottom: solid 1px;
}
