body {
	font-family: '£Í£Ó £ÐÌÀÄ«','Ê¿À®ÌÀÄ«',serif;
	font-size: 100%;
	line-height: 170%;
	color: black;
	background-color: #FFCC33;
	margin: 1em 15%;
	padding: 0px;
}
a:link {
	color: #FF6666;
}
a:visited {
	color: #CC3333;
}
a:active {
	color: #FF9999;
}
a:hover {
	color: #9999FF;
}
h1 {
	font-family: '£Í£Ó £Ð¥´¥¸¥Ã¥¯','Osaka',sans-serif;
	font-size: 140%;
	line-height: 150%;
	margin: 2em 0px;
	padding: 0px;
}
h2 {
	font-family: '£Í£Ó £Ð¥´¥¸¥Ã¥¯','Osaka',sans-serif;
	font-size: 120%;
	line-height: 150%;
	margin: 2em 0px 0px;
	padding: 0px;
}
p {
	margin: 1em 0px;
	padding: 0px;
}
div.name {
	text-align: right;
}
div.navi {
	font-family: '£Í£Ó £Ð¥´¥¸¥Ã¥¯','Osaka',sans-serif;
	font-size: 80%;
	line-height: 120%;
	text-align: right;
	margin: 100px 0px 0px;
	padding: 0px;
}
div.copy {
	font-family: Arial;
	font-size: 80%;
	line-height: 120%;
	text-align: right;
	margin: 0px;
	padding: 0px;
}
hr {
	border-width: 1px;
	border-color: black;
	border-style: solid;
}
div.bq {
	font-family: '£Í£Ó¥´¥·¥Ã¥¯','Osaka-ÅùÉý',monospace;
}
div.warnt {
	font-family: '£Í£Ó¥´¥·¥Ã¥¯','Osaka-ÅùÉý',monospace;
	font-weight: bold;
	font-size: 110%;
	line-height: 150%;
	text-align: center;
	margin: 3em 0px 0px;
	padding: 0px;
}
p.warn {
	font-family: '£Í£Ó £Ð¥´¥·¥Ã¥¯','Osaka',sans-serif;
	border-width: 1;
	border-color: black black black;
	border-style: solid;
	margin: 0px;
	padding: 10px;
}
