@charset "utf-8";
body {
	color: #000033;
	background-color: #FFCC33;
}
main {
	background-color: #FFCC33;
}
aside.alert-danger {
	background-color: #FFCC33;
	color: #660000;
	border: 1px solid;
}
div.sis-subtitle {
	font-size: 1.2rem;
}
div.sis-title {
	font-size: 1.4rem;
}
div.sis-author {
	text-align: right;
}
dd {
	margin-left: 3rem;
}
blockquote {
	background-color: #FFFF99;
}
table th, td {
	border: 1px solid;
	padding: 0.5rem;
}
caption {
	text-align: center;
	color: #000033;
	margin-bottom: 1rem;
}
