@charset "utf-8";

body {
	color: #000033;
	background-color: #FFCC33;
}
div#center {
	background-color: #FFCC33;
}
main#main {
	background-color: #ffff99;
}
figure > blockquote.blockquote {
	background-color: #ffffcc;
}
figure > figcaption.blockquote-footer {
	background-color: #ffffcc;
}
a, a:link, .nav-link, .nav-link:link {
	color: #999999;
}
a:hover, .nav-link:hover {
	color: #cccccc;
}
a:visited, .nav-link:visited {
	color: #666666;
}
a:active, .nav-link:active {
	color: #cccccc;
}
a:focus, .nav-link:focus {
	color: #cccccc;
}
aside.alert-danger {
	background-color: #ffcc66;
	color: #660000;
	border: 1px solid;
}
div.sis-subtitle {
	font-size: 1.2rem;
}
div.sis-title {
	font-size: 1.4rem;
}
div.sis-author {
	text-align: right;
}
dd {
	margin-left: 3rem;
}
