@charset "utf-8";
body {
	background-color: #330000;
	background-image: url(bg.gif);
}
div.toc {
	padding-top: 2rem;
	padding-bottom: 0rem;
	margin-bottom: 0rem;
	text-align: center;
	font-size: 1.8rem;
	font-weight: bold;
}
div.toc ul {
	list-style: none;
}
div.toc a {
	text-decoration: none;
	border-bottom: solid 1px;
}
