body {
	background-color: white;
	background-image: url(bak.jpg);
	background-attachment: fixed;
}
a:link {
	color: #666666;
}
a:visited {
	color: #333333;
}
a:active {
	color: #993333;
}
a:hover {
	color: #333399;
}
main#main {
	background-color: rgba(255,255,255,0.8);
}
nav#sidenav {
	background-color: rgba(255,255,255,0.6);
}
h1 {
	padding: 1rem 0.5rem;
	color: white;
	background-image: url(h1.jpg);
}
h2 {
	padding: 1rem 0rem;
	margin: 1rem 0rem;
	border-width: 2px 0px;
	border-color: #333333;
	border-style: solid;
}
h3 {
	padding: 1rem 0.5rem;
	border-width: 0px 0px 1px 5px;
	border-color: #006666;
	border-style: solid;
}
figure > blockquote.blockquote {
	background-color: unset;
	border-width: 1px;
	border-color: #999999;
	border-style: solid;
}
div.source {
	padding: 0.2rem 0.5rem;
	color: #CCCCCC;
	background-color: #333333;
	line-height: 1.8rem;
	text-align: right;
	border-style: none;
}
div.source a:link {
	color: #CCCCCC;
}
div.source a:visited {
	color: #999999;
}
div.source a:active {
	color: #FF9999;
}
div.source a:hover {
	color: #9999FF;
}
strong {
	font-size: 1.0rem;
}
