@charset "utf-8";

/* ブロック要素 */
h2 {
	padding: 2rem 0.5rem;
	margin: 1rem -0.75rem;
}
figure > blockquote.blockquote {
	background-color: #ffffcc;
	font-size: 1rem;
}
figure > figcaption.blockquote-footer {
	background-color: #ffffcc;
	padding: 0rem 0.5rem;
}
pre.code {
	background-color: #f0f0f0;
}
p {
	margin: 1.5rem 0rem;
}
p:only-of-type {
	margin: 0rem 0rem;
}
nav.pagenavi {
	font-size: 2rem;
	padding: 0.5rem 0rem;
}
div#copy {
	font-size: 0.8rem;
}
aside#appendix {
	padding-top: 3rem;
}
/* 目次 */
ul#toc > li.nav-item {
	line-height: 1.8rem;
}
ul#toc > li.toc-h2 {
	padding-left: 0rem;
}
ul#toc > li.toc-h3 {
	padding-left: 1rem;
}
ul#toc > li.toc-h4 {
	padding-left: 2rem;
}
ul#toc > li.toc-h5 {
	padding-left: 3rem;
}
ul#toc > li.toc-h6 {
	padding-left: 4rem;
}
/* 総目次 */
ul#tocAll > li.toc-h1 {
	padding-left: 0rem;
}
ul#tocAll > li.toc-h2 {
	padding-left: 1rem;
}
ul#tocAll > li.toc-h3 {
	padding-left: 2rem;
}
ul#tocAll > li.toc-h4 {
	padding-left: 3rem;
}
ul#tocAll > li.toc-h5 {
	padding-left: 4rem;
}
ul#tocAll > li.toc-h6 {
	padding-left: 5rem;
}
/* インライン要素 */
span.attention {
	font-size: 1.7rem;
	font-weight: bold;
	line-height: 1.7rem;
}
strong {
	font-weight: bold;
	line-height: 1.7rem;
}
span.dot {
	text-emphasis-style: dot;
	-webkit-text-emphasis-style: filled;
	-moz-text-emphasis-style: filled;
	-ms-text-emphasis-style: filled;
}
span.unseen.unseen-hide {
	background-color: rgba(0, 0, 0.2, 1.0);
	color: rgba(0, 0, 0.2, 1.0);
}
span.unseen.unseen-show {
	background-color: rgba(0, 0, 0.2, 0.2);
	color: rgba(0, 0, 0.2, 1.0);
}
div.amathum {
	margin-left: 1rem;
	float: right;
	clear:right;
}
div.column {
	padding: 0.5rem;
	margin: 0.5rem 0rem;
	border-width: 1px;
	border-color: #333333;
	border-style: solid;
}
div.center {
	text-align: center;
}
div.right {
	text-align: right;
}
