@charset "utf-8";

/* ブロック要素 */
figure > blockquote.blockquote {
	background-color: #ffffcc;
	font-size: 1rem;
}
figure > figcaption.blockquote-footer {
	background-color: #ffffcc;
}
pre.code {
	background-color: #f0f0f0;
}
p {
	margin: 1rem 0rem;
}
p:only-of-type {
	margin: 0rem 0rem;
}
nav.pagenavi {
	font-size: 2rem;
	padding: 0.5rem 0rem;
}
div#copy {
	font-size: 0.8rem;
}
/* 目次 */
ul#toc > li.nav-item {
	line-height: 1.8rem;
}
ul#toc > li.toc-h2 {
	padding-left: 0rem;
}
ul#toc > li.toc-h3 {
	padding-left: 1rem;
}
ul#toc > li.toc-h4 {
	padding-left: 2rem;
}
ul#toc > li.toc-h5 {
	padding-left: 3rem;
}
ul#toc > li.toc-h6 {
	padding-left: 4rem;
}
/* 総目次 */
ul#tocAll > li.toc-h1 {
	padding-left: 0rem;
}
ul#tocAll > li.toc-h2 {
	padding-left: 1rem;
}
ul#tocAll > li.toc-h3 {
	padding-left: 2rem;
}
ul#tocAll > li.toc-h4 {
	padding-left: 3rem;
}
ul#tocAll > li.toc-h5 {
	padding-left: 4rem;
}
ul#tocAll > li.toc-h6 {
	padding-left: 5rem;
}
/* インライン要素 */
span.attention {
	font-size: 1.7rem;
	font-weight: bold;
	line-height: 1.7rem;
}
strong {
	font-size: 1.1rem;
	font-weight: bold;
	line-height: 1.7rem;
}
span.dot {
	text-emphasis-style: dot;
	-webkit-text-emphasis-style: filled;
	-moz-text-emphasis-style: filled;
	-ms-text-emphasis-style: filled;
}
span.unseen {
	background-color: #000033;
	color: #000033;
}
div.amathum {
	margin: 10px;
	float: right;
	clear:right;
}
