@charset 'utf-8';
@import '/css/base.css';

div.column {
	padding: 0.5rem 1rem;
	margin: 0.5rem 0rem;
	border-width: 1px;
	border-style: solid;
}
figure > blockquote.blockquote {
	background-color: #f0f0f0;
}
figure > figcaption.blockquote-footer {
	background-color: #f0f0f0;
}
div.thumbnail {
	margin-left: 1rem;
	float: right;
	clear:right;
}
