@charset "utf-8";
body {
	font-family: 'Noto Serif JP', serif;
	letter-spacing: 0.1rem;
	line-height: 2.3rem;
	text-align: justify;
	word-wrap: break-word;
}
p:first-child {
	margin-top: 0rem;
}
p:not(:first-child) {
	margin-top: 1.5rem;
}
div#subtitle {
	font-size: 1.5rem;
}
ul#extra > li {
	line-height: 1.8rem;
	list-style-type: none;
}
nav#navi {
	margin: 0.5rem 0rem;
}
div.copy {
	font-size: 0.8rem;
}
h2, h3, h4, h5, h6 {
	padding: 1rem 0;
}
blockquote {
	padding: 1.5rem 1rem 1rem;
	background-color: #ffffcc;
}
blockquote > footer {
	text-align: right;
}
header.alert-heading {
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
}
pre {
	padding: 0.5rem;
	line-height: 2.0em;
	background-color: #f0f0f0;
}
span.dot {
	text-emphasis-style: dot;
	-webkit-text-emphasis-style: filled;
	-moz-text-emphasis-style: filled;
	-ms-text-emphasis-style: filled;
}
