@charset 'utf-8';
@import 'base.css';

body {
	color: #FCFCFC;
}
div#center {
	background-color: rgba(0,0,0,0.4);
}
main#main {
	background-color: rgba(0,0,0,0.6);
}
ul#extra {
	line-height: 1.8rem;
}
h2 {
	padding-top: 2rem;
}
a, a:link, .nav-link, .nav-link:link {
	color: #CCCCCC;
}
a:hover, .nav-link:hover {
	color: #FFFFFF;
}
a:visited, .nav-link:visited {
	color: #C0C0CO;
}
a:active, .nav-link:active {
	color: #FFFFFF;
}
a:focus, .nav-link:focus {
	color: #FFFFFF;
}
ul#tocAll li.nav-item {
	font-size: 2rem;
}
