@charset 'utf-8';
@import 'base.css';

body {
	background-color: #FFCC00;
	background-image: url(/img/mat/bg.png);
	color: #000000;
}
header#header {
	background-color: rgba(255,255,239,0.5);
}
header#header-navi {
	background-color: rgba(255,255,239,0.5);
}
div#center {
	background-color: rgba(255,255,239,0.5);
}
nav.pagenavi {
	padding: 0rem;
}
main#main {
	background-color: rgba(255,255,239,0.5);
}
nav#sidenav {
	background-color: rgba(255,255,239,0.3);
}
dl#note {
	background-color: rgba(239,239,255,0.8);
}
h2 {
	background-image: url(/img/mat/bg_header.png);
}
h3 {
	padding: 1rem 0rem;
	margin: 1rem 0rem;
	border-top: solid;
	border-bottom: solid;
}
figure > blockquote.blockquote {
	background-color: #ffffcc;
}
figure > figcaption.blockquote-footer {
	background-color: #ffffcc;
}
pre.code {
	background-color: #f0f0f0;;
}
.append {
	color: #000099;
}
div.translucent{
	color: #cccccc;
}
span.underline {
	text-decoration:underline;
}
