@charset 'utf-8';
@import 'base.css';

body {
	background-color: #FFCC00;
	background-image: url(/img/mat/bg.png);
	color: #000000;
}
header#header {
	background-image: url(/img/mat/skel.gif);
}
main#main {
	background-image: url(/img/mat/skel.gif);
	background-color: rgba(255,255,239,0.5);
}
nav#sidenav {
	background-image: url(/img/mat/skel.gif);
}
dl#note {
	background-color: rgba(239,239,255,0.8);
}
h2 {
	background-image: url(/img/mat/bg_header.png);
}
figure > blockquote.blockquote {
	background-color: #ffffcc;
}
figure > figcaption.blockquote-footer {
	background-color: #ffffcc;
}
pre.code {
	background-color: #f0f0f0;
}
