@charset "utf-8";
body {
	background-color: #000033;
}
main#main {
	border-width: 0px 4px;
	border-color: #000033;
	border-style: none double;
}
div.toc {
	padding-top: 2rem;
	padding-bottom: 0rem;
	margin-bottom: 0rem;
	text-align: center;
	font-size: 1.8rem;
	font-weight: bold;
}
div.toc ul {
	list-style: none;
}
div.toc a {
	text-decoration: none;
	border-bottom: solid 1px;
}
div.appendix {
	padding-top: 0rem;
	margin-top: 0rem;
	text-align: center;
	font-size: 1.2rem;
}
div.appendix a {
	text-decoration: none;
	border-bottom: solid 1px;
}
