@charset "utf-8";
body {
	color: #CCCCCC;
	background-color: #111133;
	background-image: url(bg.gif);
}
div.row {
	background-image: url(skel.gif);
}
header {
	background-image: url(skel.gif);
}
a:link {
	color: #FF9966;
}
a:visited {
	color: #CC6633;
}
a:active {
	color: #3366CC;
}
a:hover {
	color: #6699FF;
}
blockquote {
	background-color: #333333;
}
header.alert-heading {
	background-image: none;
	background-color: #999999;
	color: #333333;
}
aside.alert {
	background-color: #333333;
	color: #CCCCCC;
	border: none;
}
div.appendix {
	margin-top: 5rem;
}
div#subtitle {
	font-size: 1.0rem;
	line-height: 1.8rem;
}
div#en-title, div#en-subtitle {
	font-size: 0.8rem;
	line-height: 1.6rem;
}
div.centering {
	text-align: center;
}
div.centering p {
	padding: 0rem 0;
}
span.black {
	font-size: 1.1rem;
	font-weight: bold;
}
span.blue {
	color: #99CCFF;
	font-size: 1.1rem;
	font-weight: bold;
}
span.red {
	color: #FF9999;
	font-size: 1.1rem;
	font-weight: bold;
}
