@charset "utf-8";
body {
	background-color: #111133;
	background-image: url(bg.gif);
}
a:link {
	color: #FF9966;
}
a:visited {
	color: #CC6633;
}
a:active {
	color: #3366CC;
}
a:hover {
	color: #6699FF;
}
figure > blockquote.blockquote {
	background-color: #333333;
}
header.alert-heading {
	background-image: none;
	background-color: #999999;
	color: #333333;
}
aside.alert {
	background-color: #333333;
	color: #CCCCCC;
	border: none;
}
div.appendix {
	margin-top: 5rem;
}
div.centering {
	text-align: center;
}
div.centering p {
	padding: 0rem 0;
}
span.black {
	font-size: 1.1rem;
	font-weight: bold;
}
span.blue {
	color: #99CCFF;
	font-size: 1.1rem;
	font-weight: bold;
}
span.red {
	color: #FF9999;
	font-size: 1.1rem;
	font-weight: bold;
}
